.h_page_area .buttons2 .btn_b_hi3 {
  color: #fff;
  font-weight: normal;
}

.h_page_area .buttons2 .btn_b_hi3:hover {
  text-decoration: none;
}

.xi-download:before {
  content: none;
}

.btn_n .xi-download {
  color: #000;
}

.btn_n .xi-download:before {
  color: #00c63b;
  content: "\eb7c";
}
